* {
    padding: 0;
    margin: 0;
}

.header {
    height: 30%;
    background-color: rgb(37, 37, 37);
}

.sectorTitle {
    margin-top: -10px;
    margin-left: 5%;
}

.sectorSkull {
    margin-top: -10%;
    margin-right: 10%;
    float: right;
}

.sectorSkull>img {
    width: 30vw;
}

.header>p {
    margin-left: 8%;
    font-family: 'Bungee', cursive;
    font-size: 2vw;
    color: blue;
}

.games {
    height: 1000px;
}

.arcadeAuto {
    margin-top: 5%;
}

.arcadeImg {
    position: absolute;
    width: 50vw;
    z-index: 0;
}

.SBLogo {
    position: absolute;
    width: 13%;
    margin-top: 13%;
    margin-left: 19%;
}

.SBTitle {
    position: absolute;
    width: 20%;
    margin-top: 20%;
    margin-left: 17%;
}

.mediaContainer {
    margin-left: 45%;
}

.mediaContainer>.borderImg {
    position: absolute;
    width: 24vw;
    height: 44vw;
}

.mediaContainer>video {
    margin-left: 2.9%;
    width: 39%;
    height: 39%;
}

.infoContainer {
    margin-left: 73%;
}

.infoContainer>.borderImg {
    position: absolute;
    width: 24vw;
    height: 44vw;
    margin-top: -42.7vw;
}

.infoContainer>p {
    line-height: 2.1vw;
    width: 20.5vw;
    margin-left: 2%;
    margin-top: -41%;
    position: absolute;
    font-family: 'Bungee', cursive;
    font-size: 1.3vw;
    color: blue;
}